{% extends 'layout.html.twig' %}


{% block content %}
<<<<<<< HEAD
    <h1>CamelChest</h1>
=======
<<<<<<< HEAD

    <h1>Hello Wilder !</h1>

=======
<<<<<<< HEAD
    {% include 'Components/_tag.html.twig' %}
=======
    <h1>Hello Wilder !</h1>
   {% include 'Components/_questionsHome.html.twig' %}

>>>>>>> ea7248b62e9206c1647f58f7b934cd0d9887a549
>>>>>>> 463b71d8e4609373485877627a56228346fcf486
>>>>>>> ff16c7d3854fe270814b860bf8a9d350481dfe07
{% endblock %}
