{% extends 'layout.html.twig' %}

{% block content %}
<<<<<<< HEAD
    {% include 'Components/_tag.html.twig' %}
=======
    <h1>Hello Wilder !</h1>
   {% include 'Components/_questionsHome.html.twig' %}

>>>>>>> ea7248b62e9206c1647f58f7b934cd0d9887a549
{% endblock %}
