.container-fluid {
    background-color: #43276B;
}
.img-responsive {
    width: 100px;
    height: 100px;
}

.container_home {
    display: flex;
}

.left-block {
    display:flex;
}

.leftDown-block {
    display: flex;
    align-items: flex-end;
}

.right-block {
    padding: 0 2rem;
    margin: auto;
}

.input-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-control {
    margin-right: 1rem;
}


