@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root {
    --primary-color: #7952b3;
}
h1 h2 h3 h4 h5 {
    font-family: 'Bungee Inline', cursive !important;
}
.navbar {
    background-color: #7952b3 !important;
}
.left-block {
    margin-top: 1rem;
    display:flex;
}
.leftDown-block {
    display: flex;
    align-items: flex-end;
}
.right-block {
    padding: 0 2rem;
    margin: auto;
}
.input-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
 .navbar {
     position: relative; /* on positionne le conteneur */
     margin-left: auto;
     margin-right: auto;
 }
.navbar-brand {
     position: relative;
     margin-left: 2%;
 }
.img_profile{
    border-radius: 50%;
    width: 200px;
}
.container-fluid {
    margin-left: 15%;
    margin-right: 15%;
}
.navbar{
    background: linear-gradient(-400deg, #ee7752, #7952b3, #92ff55);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.site-footer {
    padding: 5em 0;
    background: #f8f9fa;
    font-size: 16px;
    color: black;
}

.site-footer p:last-child {
    margin-bottom: 0;
}

.site-footer a {
    color: black;
    border-bottom: 1px solid transparent;
}

.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: black;
}

.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 5px;
}

.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255,255,255,0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}


.footer-social .fa {
    margin-top: 7px;
}

