
.container-fluid {
    background-color: #43276B;
}
.img-responsive {
    width: 100px;
    height: 100px;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css%27');


.container_home {
    display: flex;
}

.left-block{
    display:flex;
}

.leftDown-block {
    display: flex;
    align-items: flex-end;
}

