{% extends 'layout.html.twig' %}

{% block content %}

    <div class="mt-4 d-flex align-items-center flex-column text-center">
        <img class="row text-center img_profile"src="https://avatars.githubusercontent.com/u/83349185?v=4" class="img-thumbnail" alt="...">
        <div class="row">
            {% include 'Components/_upperProfile.html.twig'%}
        </div>
        <div class="row">

        </div>
    </div>

{% endblock %}
