<form method="post">
    <div class="mb-3">
        <textarea placeholder="Votre réponse" name="description" id="exampleFormControlTextarea1" class="form-control" rows="8"></textarea>
    </div>
    <input type="hidden" name="question_id" value="{{ question_id }}">
    {% if (session.user) %}
        <div class="text-center">
        <input class="btn btn-warning" name="validation" type="submit" value="Valider">
        </div>
    {% else %}
        <a class="btn btn-warning btn-sm col-2 text-center" href="/user/create">Valider</a>
    {% endif %}
</form>

