<div class="container text-center">
    {% if (session.user) %}
        <h5 class="mt-3">Hello {{ session.user.username }} the camelChester</h5>
    {% else %}
        <h2>CamelChest</h2>
        <p>Votre coffre à solution WEB</p>
    {% endif %}
</div>
