<footer class="site-footer mt-5">
    <div class="container text-center">
        <div class="row mb-5">
            <div class="col-md-3 mb-5">
                <h2>A PROPOS</h2>
                <a href="#">Notre équipe</a>
            </div>

            <div class="col-md-3 mb-5">
                <h2>Contact & Adresse</h2>
                <ul class="list-unstyled footer-link">
                    <li class="d-flex justify-content-center">
                        <span class="text-black">
                            06 07 51 44 08
                        </span>
                    </li>
                    <li class="d-flex justify-content-center">
                        <span class="text-black">
                            9 All. Serr, 33100
                        </span>
                    </li>
                    <li class="d-flex justify-content-center">
                        <span class="text-black">
                            Bordeaux, city gang
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-5">
                <h2>Quick Nav</h2>
                <ul class="list-unstyled footer-link">
                    <li><a href="#">Connexion</a> </li>
                    <li><a href="#">Inscription</a> </li>
                    <li><a href="#">Mon profil</a> </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h2>Notre équipe</h2>
                <ul class="list-unstyled footer-link d-flex footer-social justify-content-center">
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>Ce coffre a été dévérouillé par notre équipe.</p>
            </div>
        </div>
    </div>
</footer>