<div class="container-fluid bg-light row">
    <div class="container">
        <div class="row medium">
            <div class="col-sm-8">© 2021 Copyright : Camel Chest</div>
        </div>
    </div>
</div>