<div class="list-group w-100 mt-4">
    <a href="#" class="list-group-item list-group-item-action active h-25" style="background-color: #7952b3">
        <div class="d-flex w-10 justify-content-between" >
            <h5 class="mb-1">Questions Les Plus Populaires</h5>
            <small></small>
        </div>
        <p class="mb-1"></p>
        <small></small>
    </a>
    {{ question.title }}
    <a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">Comment lier plus de 2 tables ??</h6>
            <small class="text-muted">81 commentaires</small>
        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">importer une BDD sur workbench</h6>
            <small class="text-muted">42 commentaires</small>
        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">Problème sécurisation formulaire</h6>
            <small class="text-muted">33 commentaires</small>
        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">Installer bootstrap</h6>
            <small class="text-muted">18 commentaires</small>
        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">pb installation php STORM sur mac </h6>
            <small class="text-muted">16 commentaires</small>

        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a><a href="#" class="list-group-item list-group-item-action h-25">
        <div class="d-flex w-10 justify-content-between">
            <h6 class="mb-1">Je vends le t-shirt Symfony de Guillaume</h6>
            <small class="text-muted">15 commentaires</small>

        </div>
        <p class="mb-1"></p>
        <small class="text-muted"></small>
    </a>


</div>