<div class="input-group mb-3 mt-3">
    <form method="get" class="form-control" >
        <input name="keyword" type="text" class="form-control" placeholder="Entrez un seul mot clé" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2" style="background-color: #7952b3"><i class="fas fa-search"></i></button>
    </form>
</div>


