<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Tapez votre recherche ici" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
</div>


