<div class="input-group mb-3 mt-2">
    <form method="get" class="form-control">
        <input autocomplete="off" id="search-input" name="keyword" type="text" class="form-control no-border" placeholder="Entrez un seul mot clé" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="list-group" id="autocomplete-list">

        </div>
    </form>
</div>


