<div class="input-group mb-3 mt-2">

<<<<<<< HEAD
    <form method="get" class="form-control">
        <input name="keyword" type="text" class="form-control no-border" placeholder="Entrez un seul mot clé" aria-label="Recipient's username" aria-describedby="button-addon2">
=======
    <form method="get" class="form-control" >
        <input name="keyword" type="text" class="form-control" placeholder="Entrez un seul mot clé" aria-label="Recipient's username" aria-describedby="button-addon2">
>>>>>>> 896c31f4369eaede0fde07212b68bb5728923073
    </form>
</div>


