<div class="container pt-1 pb-1 mx-auto">
    <div class="row">
        <div class="text-center">
            {% for tag in tags %}
                <a href="/questions/tags?id={{ tag.id }}" type="button" class="btn btn-outline-{{ tag.color}} mb-2 ms-2">
                    {{ tag.name }}
                </a>
            {% else %}
                Aucun tag
            {% endfor %}
        </div>
    </div>
</div>

