
    <button type="button" class="btn btn-outline-primary">Php</button>
    <button type="button" class="btn btn-outline-secondary">Java</button>
    <button type="button" class="btn btn-outline-success">Sql</button>
    <button type="button" class="btn btn-outline-danger">Symphony</button>
    <button type="button" class="btn btn-outline-warning">React</button>
    <button type="button" class="btn btn-outline-info">Python</button>
    <button type="button" class="btn btn-outline-dark">Ruby</button>
