<div class="container mb-3 bg-light border border-dark rounded">
    <div class="row mt-2">
        <div class="ms-2">
            {% for tag in tags %}
                <a href="/questions/tags?id={{ tag.id }}" type="button" class="btn btn-outline-{{ tag.color}} mb-2 ms-2">
                    {{ tag.name }}
                </a>
            {% else %}
                Aucun tag
            {% endfor %}
        </div>
    </div>
</div>

