<h1>{{profile.username}}</h1>
<span class="mb-3" style="font-size: 24px; color: black;">
    <i title="Badge 1" class="fas fa-ribbon"></i>
    <i title="Badge 2" class="fas fa-hand-sparkles"></i>
    <i title="Badge 3" class="fas fa-certificate"></i>
    <i title="Badge 4" class="fas fa-award"></i>
    <i title="Badge 5" class="fas fa-medal"></i>
    <i title="Badge 6" class="fas fa-trophy"></i>
    <i title="Badge 7" class="fas fa-crown"></i>
</span>
<p>{{profile.pseudo_github}}</p>
<span class ="mb-3" style="font-size: 20px; color: black;">
    12 <i title="Questions asked" class="fas fa-question-circle"></i>
    36 <i title="Answers sent" class="fas fa-comment"></i>
    284 <i title="Thumbs-up received" class="fas fa-thumbs-up"></i>
</span>
