{% extends 'layout.html.twig' %}

{% block content %}
    <div class=" h-100 d-flex flex-column align-items-center my-2 mt-5 d-flex bg-no-repeat bg-right-bottom">
    <h1>Quelle est ta question ?</h1>
    </div>
    {% include 'Components/_addQuestion.html.twig' %}
{% endblock %}
