{% extends 'layout.html.twig' %}

{% block content %}
        <form method="post">
                <div class="mb-3">
                        <textarea placeholder="Votre réponse" name="description" id="exampleFormControlTextarea1" cols="120" rows="10"></textarea>
                </div>
                <input type="hidden" name="question_id" value="{{ question_id }}">
                {% if (session.user) %}
                <input type="submit" value="Valider">
                {% else %}
                <a class="btn btn-warning" href="/user/create">Valider</a>
                {% endif %}
        </form>
{% endblock %}

