{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <p>Description : {{ question.description }}</p>
    <a href="/questions/edit?id={{ question.id }}">Edit</a>
    <form action="/questions/delete" method="POST">
        <input type="hidden" name="id" value="{{ question.id }}">
        <button>Delete</button>
    </form>
    <a href="/questions">Back</a>
{% endblock %}
