{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Components/_questionsHome.html.twig' %}
    <h1>{{ question.title }}</h1>
    <h2> TAG : </h2>
    <div>
        {% for question in questions %}
            {{ question.title }}
        {% else %}
        {% endfor %}
    </div>
    <p>Description : {{ question.description }}</p>
{% endblock %}